<button class="bg-blue-400 font-bold rounded-full px-4 py-2 text-white border-blue-600 border-2">
  <% if current_user.liked?(@recipe) %>
    <%= link_to 'Unlike', recipe_like_path(@recipe), method: :delete %>
  <% else %>
    <%= link_to 'Like',   recipe_like_path(@recipe), method: :post %>
  <% end %>
</button>
