<div class=" flex w-auto flex-col">
<% if @user.cover_image.attached? %>
  <%= image_tag(@user.cover_image, class: " h-56") %>
  <% end %>
  <div class="w-2/3 mx-auto">
  <%= render 'shared/timeline'%>
  </div>
</div>
<div class="flex px-16 py-4 bg-gray-300">
  <div class="flex-col items-center right-sidebar">
    <%= render 'shared/profile_info'%> 
  </div>
</div>