<div class="w-1/3 flex flex-col">
<% if @user.cover_image.attached? %>
  <%= image_tag(@user.cover_image) %>
  <% end %>
  
  
<div class="cover-photo">

</div>
  <%= render 'shared/timeline'%>
</div>
<div class="flex px-16 py-4 bg-gray-300">
  <div class="flex-col items-center right-sidebar">
    <%= render 'shared/profile_info'%> 
  </div>
</div>