<% @user ||= current_user %>
<div class="flex px-16 py-4 bg-gray-200">
  <div class="flex-col items-center right-sidebar">
    <% if current_user %>
      <%= render 'shared/who_to_follow'%>
    <% else %>
      <%= render 'shared/profile_info'%>
    <% end %>
  </div>
</div>