<div class=" border-b-2 w-5/6 border-gray-400 mx-auto border-gray-400">
  <%= search_form_for(@q, class: "flex text-center 
                                      text 
                                      flex-col 
                                      w-full
                                      
                                      text-2xl
                                      ") do |f| %>
    <%= f.label        :ingredients_title_cont, hidden: true %>
    <%= f.search_field :ingredients_title_cont, 
                        placeholder: 'Search recipes by ingredients',
                        class:       'p-3 text-blue-500 text-center
                                      rounded mb-3 bg-gray-300' %>
    <%= f.submit 'Search', class: 'py-1 text-center shadow-lg 
                                   rounded bg-blue-500 
                                   hover:bg-blue-700 text-white' %>
  <% end %>
</div>
