<% @timeline.each do |post| %>
    <div class=" m-5 shadow-lg rounded-lg hover:shadow-xl bg-gray-100 p-10">
      <small> <%= post.user.username %> </small>
      <p class="text-lg"> <%= post.body %> </p>
    </div>
<% end %>

