<% @people.each do |person| %>
  <div class="person-box bg-white flex px-10 py-3 items-center justify-between">
    <% if person.photo.attached? %>
              <%= image_tag(current_user.photo, class: "w-20 rounded-full") %>
          <% end %>
    <p class="mx-4"><%= person.full_name%></p>
    <%= follow_actions(person) %>
  </div>
<% end %>

