<h3 class="text-gray-500 p-3 border-b-2 mb-10 border-gray-400 uppercase ">
  Who to follow
</h3>
<% @people.each do |person| %>
  <%= link_to user_path(person) do %>
    <div class="person-box hover:shadow-2xl w-full text-gray-700 
                font-bold shadow-lg rounded-lg flex px-10 py-3 m-3 
                h-24  items-center justify-center">
      <div class="img-box w-32">
        <% if person.photo.attached? %>
          <%= image_tag(person.photo, class: "w-16 rounded-full") %>
        <% end %>
      </div>
        <%= person.full_name %>
    </div>
  <% end %>  
<% end %>

